body{
    margin: 0;
}


.full{
    width: 100%;
    float: left;
}

.ad_left{
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0; 
    width: 15%;
    background-color:#5e5e5e;
}

.title_ad_left{
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 1.5vw;
    text-align: center;
    color: #dfdfdf;
    border-bottom: 1px solid #e6e6e6;
    font-family: 'Playfair Display', serif;
}

.dashboarid{
    width: 100%;
    min-height:300px ;
}

.title_db{
    width: 95%;
    height: 10%;
    line-height: 40px;
    margin-left: 5%;
    font-family: 'Tinos', serif;
    letter-spacing: 3px;
}

.content_db{
    width: 85%;
    min-height: 260px;
    margin-left: 10%;
}

.content_db ul{
    height: 90%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.content_db ul li{
    line-height: 60px;
}

.content_db ul li a{
    color:#8e8e8e;
    text-decoration: none;
    padding-left: 10%;
    font-size: 19px;
    display: block;
    width: 90%;
    transition:all 0.5s;
    font-family: 'Noto Sans JP', sans-serif;
    letter-spacing: 2px;
  }

  .content_db ul li a:hover{
      transform: translatex(15px);
  }


  .content_db ul .feat-show a{
    font-size: 14px;
 }

 .content_db ul .feat-show a i{
     margin-right: 5px;
 }

 .content_db ul .serv-show a{
    font-size: 14px;
 }

 .content_db ul .serv-show a i{
     margin-right: 5px;
 }

 * i{
     color: #b3906a;
 }


.feat-show{
    display: none;
}

.serv-show{
    display: none;
}

.content_db ul li.active a{
    color:  white;
    font-weight: bold;
}

.content_db ul .feat-show.show{
    display: block;
  }
  .content_db ul .serv-show.show1{
    display: block;
  }


  /* ad_right */

    .ad_right{
        width: 85%;
        min-height: 722px;
        float: right;
        background-color: #ffffff;
    }

    .top_ad_right{
        width: 100%;
        height: 60px;
        box-shadow:0 5px 50px rgba(0, 0, 0, 0.43);
        background-color: white;
        margin-bottom: 50px ;
    }
    .profile{
        float: right;
        margin: 10px 10px;
    }

    .nav_ad_con{
        width: 250px;
        background-color: bisque;
        position: absolute;
        display: none;
    }
    
    .dropdown ul li:hover > .nav_ad_con{
        display: block;
    }
    
    .nav_ad_con ul{
        width: 100%;
    }
    
    .nav_ad_con ul li{
        width: 100%;
    }
    
    .nav_ad_con a{
        transition: all 0.5s;
    }
    
    .nav_ad_con a:hover{
        background-color: black;
        color: white;
    }
    
    .dropdown{
      text-align: center;
      float: right;
    }
    
    .dropdown ul{
      
      list-style: none;
      padding: 0;
      margin: 0;
    }
    
    .dropdown ul li{
      background: white;
      position: relative;
      list-style: none;
      display: inline-block;
    }
    .dropdown ul li a{
      display: block;
      padding-right: 50px;
      padding-left: 10px;
      color: black;
      text-decoration: none;
      line-height: 50px;
      font-size: 20px;
      
    }
    button.btn a {
      color: black;
      font-size: 1vw;
    }
    
    button.btn:hover a{
      text-decoration: none;
      Color: white;
    }
    
